.form-box{
    padding:0.5em 0;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}
.form-box label{
    display:none;
}
.form-box input,
.form-box label,
.form-box button{
    padding:0.2em 1em;
    font-size:18px;
    background-color:transparent;
}
.form-box input,
.form-box label,
.form-box button :valid{
    background-color: transparent;
}
.form-box input,button{
    border-radius: 0.2em;
}
@media all and (min-width:600px){
    .form-box{
        flex-direction:row;
    }
    .form-box label{
        display:inline-flex;
        flex-basis:10em;
        flex-grow:0;
        flex-shrink:0;
    }
    .form-box input{
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
    }
    .form-box button{
        margin-left:1em;
    }
}