.app {
  font-size: 16px;
  width:80%;
  margin:auto;
}
.project-container{
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}
.project-container > a{
  text-decoration: none;
}
.project-container a > button{
  margin:1.5em 0.5em;
  height:3em;
  width:10em;
  border-radius: 0.6em;
}

.issue-container, 
.comment-container{
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}

.issue-container > a, 
.comment-container > a{
  text-decoration: none;
}

.issue-container a > button, 
.comment-container a > button{
  margin:1.5em 0.5em;
  height:3em;
  width:10em;
  border-radius: 0.6em;
}

table{
  width:100%;
  border-spacing: 0.6em;
}

tr{
  background:transparent;
}
th{
  color:#FFF;
  font-weight:bold;
}

td,th{
  padding:0.5em;
  border:1px solid;
  text-align:center;
}

input[type=button],button{
  background-image: linear-gradient(to right, #FF512F 0%, #F09819 51%, #FF512F 100%)
}

input[type=text],textarea,input[type=number]{
background: none;
}

input::placeholder{
  color:#000;
}

input:focus{
  border-color:#000;
}

option{
  background-color:none;
}

@media all and (max-width:420px){
  .project-container,
  .issue-container,
  .comment-container{
    flex-direction:column;
  }
  .project-container > a,  
  .issue-container > a,
  .comment-container > a{
    display:flex;
    flex-direction:column;
  }

}
